[Desktop Entry]
Version=1.0
Type=Application
Name=jotDown
Comment=Simple, secure note-taking application
Exec=/opt/jotdown/jotdown
Icon=accessories-text-editor
Terminal=false
Categories=Office;TextEditor;Utility;
